@import '_functions';

//Váriavel de font-base
$basefontsize: 16 !default;

$color-dark: #323a45;
$color-white: #fff;
$color-background: #473f95;
$avatar-border: #6bbdf2;
$item-description: #797979;
$item-hover-background: #56bdb4;

$tooltip-label: #de585e;
$tooltip-percentual: #8f8f8f;
$tooltip-divider: #a09e9f;